/* Styles for Animal Trading Cards project */

body {
  font-family: "Open Sans", sans-serif;
  padding: 20px;
}

.card {
  width: 320px;
  border: 2px solid lightgrey;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 5px 20px 0px rgba(153,153,153,0.5);
  border-radius: 4px;
}

.card-title {
  margin: 10px;
  font-size: 24px;
  padding-left: 5px;
}

.card-picture {
  display: block;
  width: 300px;
  margin: 10px;
}

.card-data {
  border: 2px solid lightgrey;
  margin: 10px;
  padding: 0 10px 0 10px;
}

.card-datalist {
  list-style: none;
  padding-left: 0;
}

.interesting {
  font-style: italic;
}

.card-fact {
  font-weight: bold;
  font-style: normal;
}
